<p id="notice"><%= notice %></p>

<h1>Showing Notebook</h1>

<h2>Name: </h2>
<h2><small><%= @notebook.name %></small></h2>

<br>

<%= link_to 'Edit', edit_notebook_path(@notebook) %> |
<%= link_to 'Back', notebooks_path %>
