<h1>New Normal note</h1>

<%= render 'form', :normalnote => @normalnote, :url => notebook_normalnotes_path(@normalnote.notebook_id) %>

<%= link_to 'Show', @normalnote %> |
<%= link_to 'Back', notebook_path(@normalnote.notebook_id) %>
