<h1>Editing note</h1>

<%= render 'form', :securenote => @securenote, :url => securenote_path(@securenote.id) %>

<%= link_to 'Show', @securenote %> |
<%= link_to 'Back', notebook_path(@securenote.notebook_id) %>
